.popup {
    position: absolute;
    height: 35px;
    opacity: 0.78;
    font-size: 0px;
    display: block;
    overflow: visible;
}

.popup .arrow {
    height: 100%;
    width: 15px;
    position: absolute;
}

.popup img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.popup .box {
    background-color: black;
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    margin-left: 15px;
}

.popup .text {
    font-size: 18px;
    color: white;
    font-family: "Raleway";
}

#screen {
    font-family: "Raleway";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 99;
}

#screen .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

#screen .box .caption {
    opacity: 1;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#screen img {
    width: 100px;
}

#master-popup {
    display: none;
}