.title {
    font-family: "Sarina";
    font-size: 90px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

.title a {
    color: black;
    text-decoration: none;
}

hr {
    width: 10%;
    background-color: black;
    border: none;
    height: 1px;
}

.subtitle {
    font-family: Raleway;
    font-size: 30px;
    text-align: center;
}

.subtitle a {
    color: black;
    text-decoration: none;
}

form {
    text-align: center;
    margin-top: 10px;
}

.supersmall {
    font-family: Raleway, sans;
    text-align: center;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}

.input {
    width: 300px;
    margin-top: 15px;
    height: 30px;
    font-family: "Raleway";
    font-size: 20px;
    text-align: center;
    transition: all .25s ease-in-out;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    margin-bottom: -5px;
}

input[type="checkbox"]:checked {
    background-image: url("check.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    
}

label[for="anon"] {
    font-family: "Raleway";
    font-size: 15pt;
    margin-right: 10px;
    
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.g-recaptcha {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.buttonone, .buttontwo {
    background-color: white;
    height: 50px;
    border: 1px black solid;
    transition: all .25s ease-in-out;
    font-family: "Raleway";
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonone {
    margin-top: 150px;
}

.buttontwo {
    
}

.buttonone:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.buttontwo:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.footer {
    position: fixed;
    font-family: Raleway, sans;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.footertext {
    color: black;
    text-decoration: none;
}

.footertext:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}
.body {
    margin-top: 40px;
    text-align: justify;
    margin-left: 20%;
    width: 60%;
    font-family: "Raleway";
}

#textarea-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Raleway";
    text-align: left;
    font-size: 15px;
    width: 700px;
}

#chat-wrapper {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    top: 150px;
    overflow-y: scroll;
}

#text-window {
    width: 100%;
    height: 100%;
}

.chat {
    display: flex;
    flex-flow: row-wrap;
    align-items: flex-start;
}

.spacer {
    width: 30%;
}

.chat .chatmessage {
    width: 70%;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    font-family: "Raleway";
    font-size: 15px;
}

.you .chatmessage {
    background: #4545ad;
    text-align: right;
}

.them .chatmessage {
    background: #be5959;
    order: -1;
}

.topic {
    width: 30%;
    height: 200px;
    margin-left: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
}

.topictext {
    font-family: Raleway, sans;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}

.topic:hover {
    background: black;
    color: white;
    cursor: pointer;
}
