{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <script>
            $USER = {{ user_id }};
            $SCREEN_NAMES = {{ screen_names }};
            $LOCAL_ID = {{ local_id }};
        </script>
        <title>Squabble - Abortion should be legal</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Sarina" rel="stylesheet">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="{{ static_url("app.js") }}"></script>
        <link rel="stylesheet" href="{{ static_url("squabble.css") }}"/>
    </head>
    <body>
        <audio src="{{ static_url("notif.ogg") }}" id="notification-audio"></audio>
        <p class="subtitle">Abortion should be legal.</p>
        <p class="subtitle"><span style="color: #be5959;">{{ screen_names[abs(user_id - 1)] }}</span> vs. <span style="color: #4545ad;">{{ screen_names[user_id] }}</span></p>
        <div id="chat-wrapper" onscroll="manager.processScroll()">
            <div id="text-window">
            </div>
        </div>
        <div id="message-wrapper">
            <textarea id="message" rows="8" placeholder="Type your argument here" onkeydown="keyPressed()"></textarea>
        </div>
    </body>
</html>