{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ static_url("squabble.css") }}"/>
        <title>Squabble - Login</title>
        <script>$ERRORS = {{ errors }}</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ static_url("login.js") }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway|Sarina" rel="stylesheet">
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <p class="title">Squabble.</p>
        <hr>
        <p class="subtitle">A platform for pointless argument.</p>
        <hr>
        <div style="height:10px;"></div>
            <form action="/login" method="post">
                <label for="anon">Login Anonymously</label><input type="checkbox" name="anon" id="anon" onclick="toggleDisabled()" checked><br>
                <input class="input" type="text" name="username" placeholder="username" disabled><br>
                <input class="input" type="password" name="password" placeholder="password" disabled><br>
                <div class="g-recaptcha" data-sitekey="6Lf8IDcUAAAAAHZyXFyFtlgNyWgNy0B330tlC5SV"></div>
                <input class="buttonone" type="submit" value="Get Started"><br>
            </form>
        <div id="login"></div>
        <div class="footer">
            <a class="footertext" href="about.html">About</a>
        </div>
    </body>
</html>