<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url("app.js") }}"></script>

<style>
    #text-window {
        height: 100%;
        display: flex; /* or inline-flex */
        /*justify-content: flex-end;*/
        flex-flow: column-reverse; /* is default: columns along the main-axis (row) and no wrapping to next lines */
        min-height: min-content;
    }
    
    
    #chat-wrapper {
        position: absolute;
        top: 0;
        bottom: 20px;
        left: 0;
        right: 0;
        overflow-y: scroll;
    }
    
    .message {
        
    }
    
    #message-box {
        position: absolute;
        bottom: 0px;
    }

</style>
<div id="chat-wrapper" onscroll="manager.processScroll()">
<div id="text-window"></div>
</div>

<div id="message-box">
    <input type="text" id="message" onkeydown="keyPressed()">
    <input type="button" class="send" value="Send" onclick="sendMessage()">
</div>