{% autoescape None %}
<!DOCTYPE html>
<html>
    <head>
        <script>
            $ERRORS = {{ errors }};
            $DEFAULTS = {{ defaults }};
        </script>
        <link rel="stylesheet" href="{{ static_url("squabble.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ static_url("popup.css") }}"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ static_url("error.js") }}"></script>
        <script src="{{ static_url("register.js") }}"></script>
        <title>Squabble - Register</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway|Sarina" rel="stylesheet">
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <p class="title">Squabble.</p>
        <hr>
        <p class="subtitle">A platform for pointless argument.</p>
        <hr>
            <form onsubmit="return verifyRegister()" action="/register" method="post">
                <input class="input" type="text" name="username" placeholder="username"><br>
                <input class="input" type="text" name="email" placeholder="email"><br>
                <input class="input" type="password" name="password" placeholder="password"><br>
                <input class="input" type="password" name="password-confirm" placeholder="confirm password"><br>
                <input class="buttonone" type="submit" value="Get Started"><br>
            </form>
        <div id="login"></div>
        <div class="footer">
            <a class="footertext" href="about.html">About</a>
        </div>
        
        <div class="popup" id="master-popup">
            <div class="arrow">
                <img src="{{ static_url("arrow.svg") }}">
            </div>
            <div class="box">
                <div class="text"></div>
            </div>
        </div>
    </body>
</html>