<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">$SELECTED = {{ selected }}</script>
<script type="text/javascript" src="{{ static_url("submission.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url("popup.css") }}"> 
<link href="https://fonts.googleapis.com/css?family=Raleway|Sarina" rel="stylesheet">


<div id="screen">
    <div class="box">
        <img src="{{ static_url("loading.svg") }}" class="logo"/>
        <div class="caption">
            Searching for users...
        </div>
    </div>
</div>

<input type="text" id="tempnamething" value="{{ screen_name }}">

{% for topic in topics %}
<button onclick="choose({{ topic["uid"] }})">{{ topic["title"] }}</button>
{% end %}